
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ---------------------GENERAL------------------------- */
:root {
    --bg-clr : rgb(185, 177, 115);
    --nav-clr : #004C6D;
    --txt-clr : #c95f13;
    --btn-clr : #D67F68;
    --btn-hover : #FFD700;
    --border-clr : #BEBEBE;

  }
  .libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "libre-baskerville-regular";
    background-color: var(--bg-clr);
  }
  html {
    padding : 0;
    margin : 0;
  }

    /* ---------------------HEADER------------------------- */

  
  
  
  .search {
    display: flex;
    justify-content: center;
    margin: 18px 20px;

  }
  
  .search {
    position: relative;
  }
  
  .search svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .input:focus {
    opacity: 1;
    width: 250px;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 5px;
    background-color: var(--nav-clr);
    color: var(--bg-clr);
    font-size: 1.2em;
    font-weight: 600;
  }
  
  nav div {
 
    display: flex;
    align-items: center;
    color: var(--bg-clr);
  }
  
  ul {
    display: flex;
    list-style: none;
    color: var(--bg-clr);
  }
  ul li {
    margin: 0 10px;
  }
  a {
    text-decoration: none;
    margin: 0 10px;
    color: var(--bg-clr);

  }

    a:hover {
        color : var(--btn-hover);
    }

    a :visited {
        color : var(--txt-clr);
    }

/* ---------------------LOADER------------------------- */
.outer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--nav-clr);

}
.pyramid-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
    z-index: 1000;
    background-color: var(--nav-clr);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 70px;
    height: 70px;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotateY(360deg);
    }
}

.pyramid-loader .wrapper .side {
    width: 70px;
    height: 70px;
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #FF4500, #FFA500);
}

.pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
}

.pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
}

.pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: linear-gradient(to bottom right, #FF4500, #FFA500);
}

.pyramid-loader .wrapper .shadow {
    width: 60px;
    height: 60px;
    background: #FF8C00;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
}